body {
  position: relative;
  width: auto;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

img {
  height: 500px;
  width: auto;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #bdd5fc;
  padding: 10px;
}

#container {
  display: flex;
}

#beer-info-section {
  padding: 40px;
}

#beer-image {
  padding-right: 40px;
}

#beer-list-section {
  width: 100%;
  text-align: center;
}
